.menu-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  border-radius: var(--p-border-radius-lg);
  padding: 0 1rem;
  cursor: pointer;
  background-color: var(--p-secondary-200);
  margin-bottom: 1rem;

  &:hover {
    background-color: var(--p-secondary-300);
  }

  &.active {
    background-color: var(--p-primary-200);
    border-left: 4px solid var(--p-primary-600);
    padding-left: calc(1rem - 4px);
  }
}
