<app-loader [isLoading]="isLoading" />
<div class="header">
  <h1>Floor Management</h1>
  <h2>Manage Floors, floors, and parking slots</h2>
</div>

<div class="add-floor-card">
  <h3>Add New Floor</h3>

  <form [formGroup]="this.floorFormGroup" (ngSubmit)="onAddFloor()" class="add-floor-form">
    <div class="form-row">
      <p-floatlabel variant="on">
        <p-inputnumber formControlName="floorNumber" name="floorNumber" />
        <label for="floorNumber">Floor Name</label>
      </p-floatlabel>

      <p-button
        type="submit"
        label="Add Floor"
        icon="pi pi-plus"
        [loading]="isLoading">
      </p-button>
    </div>
  </form>
</div>

<div>
</div>
