@use '../../../styles/mixins' as mx;

:host {
  width: 90%;
  display: block;
  margin: auto;
}

.slots-container {
  width: 100%;
  margin: 3rem auto;

  @media (max-width: 768px) {
    width: 95%;
    padding: 1rem 0;
  }
}

.header-section {
  margin-bottom: 3rem;

  .header {
    text-align: start;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      color: var(--p-secondary-800);
      line-height: 0;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    h2 {
      font-size: 1.125rem;
      font-weight: 400;
      color: var(--p-primary-800);
    }
  }
}
