.loading-overlay {
  height: calc(100% - 4rem);
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 2rem;
    color: var(--p-primary-600);
    translate: 0  -4rem;
  }
}
