<div class="card" [class.parked]="vehicle().is_parked">
  <div class="vehicle-info">
    <div class="vehicle-icon">
      <div class="icon">
        <ng-icon [name]="vehicleIcon" />
      </div>
      <div class="numberplate">
        <p>{{ vehicle().vehicle_type.toString() | titlecase }}</p>
        <h3>{{ vehicle().number_plate }}</h3>
      </div>
    </div>
    <p-button
      icon="pi pi-trash"
      variant="text"
      severity="danger"
      (onClick)="handleDelete()">
    </p-button>
  </div>

  <div class="slot-info">
      <div class="slot-details">
        <p>Slot {{ vehicle().assigned_slot_number }}</p>
        <p>Floor {{ vehicle().assigned_floor_number }}, {{ vehicle().assigned_building_name}}</p>
      </div>

    <p-button
      [label]="parkingStatusText"
      [severity]="parkingStatusSeverity"
      (onClick)="toggleParking()">
    </p-button>
  </div>
</div>
