@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;



.signup-container {
  width: 100%;
  height: 100vh;
  display: flex;

  flex-direction: row;
}

.signup-img {
  width: 50%;
  background-color: gray;
  display: none;
  position: relative;
  overflow: hidden;


  @include md {
    display: block;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
      0 8px 32px rgba(0, 0, 0, 0.1),
      inset 0 1px 0 rgba(255, 255, 255, 0.5),
      inset 0 -1px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 0px 0px rgba(255, 255, 255, 0);

  }

}

.signup-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--p-background);
  padding: 0 10%;

  @include md {
    width: 50%;
    justify-content: center;
  }
}


.form-content {
  height: 60%;
  width: 100%;

  h2 {
    color: var(--p-primary-600);
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  p {
    color: var(--p-surface-400);
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
  }

  p-button {
    margin-top: 2rem;
  }

  div {
    margin-top: 1.5rem;

    p {
      font-size: 0.9rem;
      text-align: center;
    }
  }
}

.invalid-error {
  position: absolute;

  p {
    color: red;
    line-height: 0;
  }
}
