<div class="signup-container">

  <!-- signup img -->
  <div class="signup-img">
    <img [src]="themingService.currentTheme=='dark'?'ParkingImgDark.png':'ParkingImgLight.png'" alt="image">
    <!-- <div class="overlay"> -->
    <!-- </div> -->
  </div>
  <!-- signup form  -->
  <div class="signup-form">
    <p-toast />
    <div class="form-content">
      <h2>Welcome On Board!</h2>
      <p>Welcome onboard! Please enter your details to signup</p>
      <form (submit)='signup()' [formGroup]="signupForm">
        <div class="form-field">
          <p-floatlabel variant="on" class="text-accent">
            <input pInputText id="email" autocomplete="off" name="email" fluid formControlName="email" />
            <label for="email">Email</label>
          </p-floatlabel>
          <!-- @if(isEmailInvalid){ -->
            <p-message severity="error" variant="simple" size="small">{{getInvalidEmailMessage}}</p-message>
          <!-- } -->
        </div>
        <div class="form-field">
          <p-floatlabel variant="on" class="text-accent">
            <input pInputText id="userName" autocomplete="off" name="userName" fluid formControlName="userName" />
            <label for="userName">UserName</label>
          </p-floatlabel>
            <p-message severity="error" variant="simple" size="small">{{getInvalidUsernameMessage}}</p-message>
        </div>
        <div class="form-field">
          <p-floatlabel variant="on">
            <p-password [toggleMask]="true" inputId="password" name="password" [feedback]='false' fluid formControlName="password" />
            <label for="password">Password</label>
          </p-floatlabel>
            <p-message severity="error" variant="simple" size="small">{{getInvalidPasswordMessage}}</p-message>
        </div>
        <div class="form-field">
          <p-floatlabel variant="on" class="text-accent">
            <!-- <input pInputText id="officeName" autocomplete="off" name="officeName" fluid formControlName="office"/> -->
            <p-select [options]="offices" formControlName="office" fluid placeholder="Please select your office" />
            <label for="officeName">OfficeName</label>
          </p-floatlabel>
            <p-message severity="error" variant="simple" size="small">{{getInvalidOfficeMessage}}</p-message>
        </div>
        <p-button [disabled]="isLoading || this.signupForm.invalid" type="submit" styleClass="w-full" >Submit</p-button>
      </form>

      <div>
        <p>Already registered? <a class="text-accent" [routerLink]="['/login']" >Sign in</a></p>
      </div>
    </div>
  </div>
</div>
