<p-toast/>
<app-loader [isLoading]="isLoading" />
<div class="header">
  <h1>Parking History</h1>
  <h2>View your past parking sessions</h2>
</div>
<div class="filter-container">
  <p-float-label variant="on" >
    <input type="text" pInputText [(ngModel)]="numberplateFilter" id="numberPlateFilter" name="numberPlateFilter" >
    <label for="numberPlateFilter">Filter by NumberPlate</label>
  </p-float-label>
</div>
<div class="parking-history-container">

  @if (isLoading) {
    <div class="loading-state">
      <p>Loading parking history...</p>
    </div>
  }

  @if (!isLoading && parkingHistory.length === 0) {
    <div class="empty-state">
      <h3>No Parking History</h3>
      <p>You haven't parked any vehicles yet.</p>
    </div>
  }

  @if (!isLoading && parkingHistory.length > 0) {
    <div class="history-list">
      @for (history of filteredHistory; track history.TicketId) {
        <app-history-card [history]="history" />
      }
    </div>
  }
</div>
