/* You can add global styles to this file, and also import other style files */

:root {
  --background: #fef7ff;
  --accent: #6750a4;
  --text-primary: #1d1b20;
  --text-secondary: #8c8c8c;
}

body {
  margin: 0;
}
